html {
	height:100%;
}

body {
	margin:0;
	padding:0;
	background-color:#0079BF;
	color:white;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
        line-height: 18px;
	height:100vh;
}
#surface {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height:100%;
}
input[type=text] {
	padding:0;
	margin:0;
	width:180px;
}
.button, button, input[type=button], input[type=submit] {
 /* background: -webkit-linear-gradient(top,#D6DADC 0,#CDD2D4 100%);
  background: linear-gradient(to bottom,#D6DADC 0,#CDD2D4 100%);*/
  border: none;
  box-shadow: 0 1px 0 #959DA1;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 4px 0 0;
  padding: 7px 20px;
  text-align: center;
}
input[type=submit].primary {
  background: -webkit-linear-gradient(top,#61BD4F 0,#5AAC44 100%);
  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
  box-shadow: 0 1px 0 #3F6F21;
  color: #fff;
}
textarea {
  resize: vertical;
  -webkit-transition: background 85ms ease-in,border-color 85ms ease-in;
  transition: background 85ms ease-in,border-color 85ms ease-in;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #E2E4E6;
  border: 1px solid #CDD2D4;
  border-radius: 3px;
  display: block;
  margin-bottom: 9pt;
  min-height: 2pc;
  padding: 7px;
  color: #4d4d4d;
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 18px;
}
.hide {
	display:none;
}
.show {
	display:block;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 18; /* Sit on top */
    top:0;
    left:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.modal-content {
    background-color: #FF9933;
    border-radius: 3px;
    color:#990000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    display:block;
    width: 30%; /* Could be more or less, depending on screen size */
    font-size:18px;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin-right: -27px;
    margin-top: -27px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}
#closeModal {
    border-radius: 3px;
    background-color: #990000;
    border:0;
    line-height:30px;
    cursor:pointer;
    color:white;
    font-size:18px;
}

/* Header-Bar */

#header {
	position:relative;
	height:30px;
	background-color: #0067A3;
	padding:5px;
}
#logo {
	position:absolute;
	left:50%;
	margin-left:-40px;
	opacity:0.5;
}
#logo:hover{
	opacity:0.75;
}
.header-btn {
	font-weight: 700;
  	line-height: 30px;
  	margin-right: 8px;
  	padding-left: 7px;
	padding-right:0;
	border-radius: 3px;
  	text-decoration: none;
	background-image: linear-gradient(rgba(255, 255, 255, 0.298039) 0px, rgba(255, 255, 255, 0.2) 100%);
	overflow:hidden;
}
.header-btn:hover {
	background-color:#5399C1;
}
.header-btn-text {
  	padding: 0 0 0 7px;
	color: #f3f3f3;
}
#boards {
	width:83px;
	float:left;
}
#search {
	float:left;
	margin: 0 8px 0 0;
  	position: relative;
  	z-index: 1;
	background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
	width: 172px;
}
#search:hover {
	background-color:#5399C1;
}
input[type=text].header-search-input {
  	background-color: transparent;
  	border-radius: 3px;
  	border: none;
  	color: rgba(255,255,255,.5);
  	float: left;
  	font-size: 13px;
  	height: 30px;
  	margin: 0;
  	min-height: 30px;
  	line-height: 19px;
  	-webkit-transition: width 150ms;
  	transition: width 150ms;
  	width:145px;
  	z-index: 1;
}
.header-user {
	position: absolute;
  	top: 5px;
  	right: 0;
	width: 253.59375px;
}
.icon {
	width:23px;
}
#add {
	position: absolute;
  	top: 0;
  	left: 0;
}
#member {
	display: block;
  	float: left;
	height: 30px;
	overflow: hidden;
  	position: absolute;
  	left: 38px;
  	padding: 0;
}
#member-text {
	float:right;
	padding-right:7px;
}
#info {
	position: absolute;
  	left: 183px;
}
#bell {
	position: absolute;
  	right: 0;
}
/* Board */
#surface>#board {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.board-wrapper {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.board-main-content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0;
  -webkit-transition: margin .1s ease-in;
  transition: margin .1s ease-in;
}
/* Board-Header */
#board-header {
  	-webkit-box-flex: 0;
  	-webkit-flex: none;
  	-ms-flex: none;
  	flex: none;
  	height: auto;
  	overflow: hidden;
  	padding: 8px 4px 8px 8px;
  	position: relative;
  	-webkit-transition: padding .1s ease-in;
  	transition: padding .1s ease-in;
}
.board-header-btn {
	border-radius: 3px;
  	color: #f6f6f6;
  	cursor: default;
  	float: left;
  	font-size: 9pt;
  	height: 30px;
  	line-height: 30px;
  	margin: 0 4px 0 0;
  	overflow: hidden;
  	position: relative;
  	text-decoration: none;
}
.board-header-btn:hover {
	background-color:#006BA9;
}
.board-header-btn-text {
  	padding-right: 8px;
	padding-left:6px;
}
.board-header-btn-name {
 	cursor: default;
  	font-size: 18px;
  	font-weight: 700;
  	line-height: 30px;
  	padding-left: 4px;
  	text-decoration: none;
}
.board-header-btn-right {
	float:right;
}
/* Board-Content */
#board-content {
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
 /* margin-bottom: 10px; */
  padding-bottom: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height:100%;
}

.board-canvas {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.list-wrapper {
  width: 270px;
  margin: 0 3px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.list-wrapper:first-child {
  margin-left: 10px;
}
.list-wrapper:last-child {
  margin-right: 10px;
}
.list-wrapper i {
	color: #979899;
}
.list {
  background: #E2E4E6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.list-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
}
.list-header-extras-menu:hover {
  background-color:#cdd2d4;
}
textarea.list-header-name {
  background: 0 0;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  margin: -3px -5px;
  height: 18px;
  min-height: 18px;
  padding: 3px 5px;
  resize: none;
  max-height: 16pc;
}
.list-header-extras {
  position: absolute;
  right: 4px;
  top: 4px;

}
.list-header-extras-menu {
  float: left;
  padding: 4px;
}
.list-cards {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
  -webkit-box-flex: 1;
  overflow-x: hidden;
}
.list-card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  z-index: 0;
}
.list-card:hover {
	background-color:#EDEFF0;
	opacity:0.75;
}
.list-card-operation {
  background-color: #EDEFF0;
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  opacity: .8;
  padding: 4px;
  position: absolute;
  right: 3px;
  top: 3px;
  opacity:0;
  z-index: 40;
}
.list-card-operation:hover {
  background-color: #D6DADC;
  opacity: 1;
}
.list-card a {
  color: #4d4d4d;
  text-decoration:none;
}
.list-card-title {
  clear: both;
  display: block;
  font-weight: 400;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
}
.list-card-details {
  overflow: hidden;
  padding: 6px 6px 2px 8px;
  position: relative;
  z-index: 10;
}

.open-card-composer {
  border-radius: 0 0 3px 3px;
  color: #8c8c8c;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea.list-card-composer-textarea, textarea.list-card-composer-textarea:focus {
    background: white;
    border: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    padding: 0;
}
.open-card-composer:hover {
	text-decoration:underline;
}
.cc-controls-section {
  float: left;
}
.cc-controls-section.mod-right {
  float: right;
	padding-top: 12px;
}
.list-wrapper.mod-add {
  height: auto;
  min-height: 30px;
  padding: 12px;
  border-radius: 3px;
  background-color: #E2E4E6;
  -webkit-transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
  transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
  background-color: rgba(0, 0, 0, 0.117647);
  cursor: pointer;
  height: 40px;
}
.list-wrapper.mod-add:hover {
  background: rgba(0,0,0,.3);
}
.list-wrapper.mod-add .placeholder {
  padding: 7px;
  color: rgba(255,255,255,.7);
  -webkit-transition: color 85ms ease-in;
  transition: color 85ms ease-in;
}
.list-wrapper.mod-add .list-name-input {
    background: rgba(0,0,0,.05);
    border-color: #aaa;
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
    display: block;
    margin: 0;
    -webkit-transition: margin 85ms ease-in,background 85ms ease-in;
    transition: margin 85ms ease-in,background 85ms ease-in;
    width: 100%;
}
